* {
    font-family: "Baloo 2", serif;
    font-style: normal;
}

#rectangle-border {
    width: 600px;
    height: 600px;
    border: 1px solid #000;
    border-radius: 25px;
    margin: 50px auto;
    padding: 10px;
}

#username {
    width: 450px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}

#password {
    width: 450px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 10px;
}

#submit {
    width: 300px;
    height: 50px;
    border: 0px;
    border-radius: 10px ;
    background-color: #48C0EF;
}

.main-content {
    padding: 15px 30px;
}

.username {
    padding: 10px 0px;
}

