{% extends "template.html" %}

{% block title %} - Forum {% endblock %}
{% block head %}
  {{ super() }}
  <style>
    .post_table {
      border: 1px solid black;
      border-radius: 10px;
    }
    td {
      padding: 10px
    }
    form { 
      display: flex; 
    }
    input[type=text] { 
      flex-grow: 1; 
    }
  </style>
{% endblock %}

{% block content_body %}
  <table style="width: 100%">
    <tr>
      <td>
        <h3>All Posts</h3>
      </td>
      <td style="text-align: right; width:50%">
        <form action="{{ url_for('searchPosts') }}" method="POST">
          <input type="text" class="form-control" id="searchBar" name="searchTerm" placeholder="Search...">
          <button type="submit" href="#" class="btn btn-dark" id="searchButton">Search</button>
        </form>
      </td>
    </tr>
  </table>
  {% for post in posts %}
  <table class="post_table">
    <tr>
      <td>
        <i>{{ post.forum }} • {{ post.author }}</i> <br>
        <b>{{ post.title }}</b> <br>
        {{ post.body }}
      </td>
    </tr>    
  </table>
  <br>
  {% endfor %}
{% endblock %}
