<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/navbar.css') }}">
<!-- baloo 2 font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">

<!-- aight -->
<div class="topnav">
    <a class="active" href="#">Scientia</a>
    <!-- Right Align -->
    <div class="topnav-right">
        <a href="#">Categories</a>
        <a href="/profile">Account</a>
    </div>
</div>